.logo {
  position: absolute;
  background-color: #bcfbffb2;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.light_theme_wallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.options {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.option {
  width: 1000px;
  height: 300px;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;

  background: rgba(139, 234, 255, 0.9);
  border-radius: 75px;

  font-family: "Inria Sans";
  font-size: 50px;
  display: block;
  align-items: center;
  text-align: center;

  color: #00bffb;
}

a {
  text-decoration: none;
  color: #00bffb;
}

a:hover {
  color: #008afb;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(139, 234, 255, 0.9);
  border-radius: 75px;
}

.dane {
  text-align: center;
  background: rgba(139, 218, 255, 0.877);
  border-radius: 75px;
  width: 50%;
  height: 20px;
  margin-bottom: 2%;
  margin-left: 25%;
  font-size: 20px;
}

.submit {
  display: inline-block;
  text-align: center;
  background: #0f0;
  border-radius: 75px;
  width: 50%;
  height: 50px;
  margin-bottom: 2%;
  margin-left: 25%;
  font-size: 28px;
}

.reset {
  display: inline-block;
  text-align: center;
  background: #ff0000;
  border-radius: 75px;
  width: 50%;
  height: 50px;
  margin-bottom: 1%;
  margin-top: 7%;
  margin-left: 25%;
  font-size: 28px;
}

.checkbox {
  display: block;
}

.submit:hover {
  cursor: pointer;
}

.reset:hover {
  cursor: pointer;
}

.chose_pokemon {
  width: 1000px;
  height: 300px;
  margin-top: 12%;
  margin-left: 25%;
  margin-right: 25%;

  background: rgba(139, 234, 255, 0.9);
  border-radius: 75px;

  font-family: "Inria Sans";
  font-size: 50px;
  display: block;
  align-items: center;
  text-align: center;

  color: #00bffb;
}

.div_chose_pokemon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_luck {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  background-color: #00569c;
}
